body {
    background-color: whitesmoke;
    overflow-x: hidden;
}

.text-orange {
    color: rgb(210, 98, 0);
}

.video {
    width: 80%;
    aspect-ratio: 16/9;
}

nav {
    z-index: 100;
}

.bg-black95 {
    transition: background 0.7s ease;
    background-color: white;
}

.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.navbar-nav {
    font-size: large;
}

.footer-header h3,
.footer-header p,
.footer-icon ul li i,
.copyright,
.copyright p a {
    color: white;
}

.navbar div.container div img {
    width: 70px;
}

.nav-link:hover {
    color: rgb(210, 98, 0);
}

/* Floating Button */
.floating-btn {
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 20px;
}
.floating-btn a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: rgb(16, 110, 64);
    border-radius: 35px;
}
.floating-btn a small {
    margin: 0;
}
.floating-btn a img {
    width: 50px;
    aspect-ratio: 4/4;
}
/* End Floating Button */

/* Banner */
.banner-wrapper,
.banner-wrapper img,
.banner-wrapper .overlay {
    width: 100%;
}

.banner-wrapper .overlay {
    position: absolute;
    top: 0;
}

.banner-wrapper img {
    object-fit: contain;
}
/* End Banner */

/* Departure */
.card {
    border: none;
}
/* End Departure */

/* Partner */
.partner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.partner-wrapper img {
    width: calc(100% / 4);
    border: 5px solid rgb(218, 218, 218);
    border-radius: 3px;
    aspect-ratio: 16/9;
}
/* EndPartner */

/* Footer */
footer {
    background-color: rgb(41, 41, 41);
}
footer,
.footer-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-icon {
    width: 100%;
}
.footer-icon ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.footer-icon ul li {
    list-style: none;
    /* width: 100px; */
}
.footer-icon ul li a i {
    font-size: 1.5rem;
}
/* End Footer */

/* About Us */
.text-lg {
    font-size: larger;
}

.parallax {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 1000px;
    overflow: hidden;
}
.parallax-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 170%;
    background-image: url("../img/about-us-bg.jpg");
    background-position: center;
    filter: brightness(50%);
}

.top,
.bottom {
    position: absolute;
    right: 0;
    left: 0;
    height: 50px;
    background-color: whitesmoke;
}

.top {
    top: 0;
    z-index: 2;
}
.bottom {
    bottom: 0;
}

.parallax-content {
    text-align: center;
    padding: 0 20px;
    color: white;
    z-index: 2;
}

.our-team-items {
    width: 85%;
    margin: 0 auto 30px auto;
}

.our-team-items img {
    margin-bottom: 20px;
    width: 100%;
}

.title {
    font-size: 2.7rem;
    font-weight: bold;
}
/* End About Us */

@media only screen and (min-width: 550px) {
    /* Departure */
    .departure-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .departure-wrapper div.card {
        width: 47%;
    }
    /* End Departure */

    /* Partner */
    .partner-wrapper img {
        width: calc(100% / 6);
    }
    /* End Partner */

    .parallax {
        height: 800px;
    }

    .our-team-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .our-team-items {
        width: 200px;
    }
}

@media only screen and (min-width: 900px) {
    /* Departure */
    .departure-wrapper {
        gap: 30px;
    }

    .departure-wrapper div.card {
        width: calc(100% / 4);
    }
    /* End Departure */

    /* Partner */
    .partner-wrapper img {
        width: calc(100% / 10);
    }
    /* End Partner */
    .parallax {
        height: 600px;
    }

    .parallax-content {
        padding: 0 100px;
    }

    .our-team-items {
        width: 300px;
    }
}

@media only screen and (min-width: 1200px) {
    .parallax {
        height: 500px;
    }
}
